[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
jupyter = "*"
sklearn = "*"
numpy = "*"
imageio = "*"
matplotlib = "*"
six = "*"
scipy = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.6"
